@font-face {
    font-family: Inconsolata;
    src: url(Inconsolata-VariableFont_wdth,wght.ttf);
}

@keyframes slideUp{
    to{transform: translateY(-100px);}
}
@keyframes slideDown{
    from{transform: translateY(-100px);}
}
@keyframes rotate{
    100%{transform: rotateZ(360deg);;}
}
@keyframes grow{
    50%{transform: scale(1.1, 1.1);}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px yellow;}
}


head{
    margin: 0px;
}
header{
    color: #C9D1D9;
    background-color: #0D1117; 
    border: 2px solid;
    border-color: #1f71eb9c;
    text-align: center;
}
.navigation{
    padding: 20px;
    color: #C9D1D9;
}
#nav{
    padding: 20px;
    position: sticky;
    top: 0px;
    background-color:#80c5589d;
    text-align: center;
}
.navigation:hover{
    color: #697556;
}
body{
    background-color: #161B22;
}
#name{
    font-size: 60px; color: #C9D1D9;
    font-family: monospace, sans-serif, arial;
    text-shadow: 2px 2px 4px #8B949E; 
}
pre{
    font-size: 16px;
    color: #8B949E;
    margin: 0; 
    font-family: monospace, sans-serif, arial; 
    white-space: pre-wrap;
    background-color: #0D1117;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    border: #1f71eb9c 1px groove;
    animation-name: slideDown;
    animation-duration: 2s;
}
.socials a{
    display: inline-block;
    padding: 3px;
    margin-bottom: 10px;
    text-decoration: none;
}
hr{
    background-color:#2EA043;
    height: 1px;
}
.intro-comp {
    display: flex;
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
}
#pfp1{
    height: 300px;
    margin-right: 90px;
    animation-name: slideDown;
    animation-duration: 1.2s;
}
#greetings{
    text-align: center;
}
.certs{
    display: flex;
    justify-content: center;          
    flex-wrap: wrap;             
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}
.certs .subtitle{
    color: #3a7fbe;
}
.gallery{
    display: flex;
    justify-content: center;          
    flex-wrap: wrap;             
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}
#project-title{
    font-size: 60px; 
    color: #C9D1D9;
    font-family: monospace, sans-serif, arial;
    text-shadow: 2px 2px 4px #8B949E;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}
.certs-item{
    height: 300px;
    display: inline;
    margin: 0px auto;
    border: 2px groove #80c5589d;
}
.certs-item:hover {
  animation-name: grow;
  animation-duration: 1s;
  box-shadow: 0 0 12px rgba(51, 92, 226, 0.4);
  cursor: pointer;
}
.project{
    height: 300px;
    display: inline;
    margin: 0px auto;
    border: 2px groove #80c5589d;
}
.project:hover {
    animation-name: glow;
    animation-duration: 1s;
    box-shadow: 0 0 12px rgba(51, 92, 226, 0.4);
    cursor: pointer;
}
#contact-title {
    font-size: 60px; 
    text-align: center;
    color: #C9D1D9;
    font-family: monospace, sans-serif, arial;
    text-shadow: 2px 2px 4px #8B949E;
    margin: 100px;
}
#buttons{
    text-align: center;
    margin-bottom: 30px;
}
button{
    font-size: 15px; 
    font-family: monospace, sans-serif, arial;
    background-color: #1C2128; 
    color: #C9D1D9;
    border-width: 1px;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #7b8d63;
}
.contactinfo{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #d3d3d3;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-item i{
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #1b5555;
    width: 30px;
    text-align: center;
}
.contact-item p {
    font-size: 25px;
    color: #313438;
    margin: 0;
}
.contact-item i:hover{
    color: #209636;
}
.map{
    display: none;
}
.map:target{
    display: block;
    margin-top: 20px;
}
footer{
    color: #C9D1D9;
    border: 1px solid #A371F7;
    background-color: #0D1117; 
    text-align: right;
    padding: 10px 20px;
}


/* Mazebot Website*/


